.box {
	position: relative;
	max-width: 43rem;
	max-height: 100%;
	margin: auto;
	margin-top: 10rem;
	font-size: 1.6rem;
	border-radius: 10px;
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
}

.list {
	padding: 1.4rem 2.4rem;
	list-style: none;
}
